.customerButton {
    background-color: #116A6F;   
    color: white;
    font-size: 1.3rem;
    padding: 5px 1em;
    border: 3px solid #116A6F;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.customerButton:hover
{
    background-color:transparent;
    color:#116A6F;
}
