.customer-search-container-input
{
    position:relative;
}

.customer-search-container-input input
{
    padding-left:37px;
}
.search-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 1.2rem;
    color:gray;
}