@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.form-container sign-up
{
    overflow-y:auto;
}
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.incorrect-logins
{
    font-size:1rem;
    color:orangered;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 80vw;
    /*    max-width: 100vh;*/
    min-height: 85vh;
    z-index: 1;
}

    .container p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
    }

    .container span {
        font-size: 12px;
    }

    .container a {
        color: blue;
        font-size: 1rem;
        text-decoration: none;
        margin: 15px 0 10px;
        transition:0.3s;
    }

    .container a:hover {
        color: orangered;
    }

    .container button {
        background-color: #2da0a8;
        color: #fff;
        font-size: 12px;
        padding: 10px 55px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }

        .container button.hidden {
            background-color: transparent;
            border-color: #fff;
        }

    .container form {
        background-color: #fff;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px 0 70px;
        height: 100%;
    }

    .container input {
        background-color: #eee;
        border: none; 
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none; 
        
    }

.register-user-button
{
    align-self:center;
    margin-right:10px;
}

.add-allergies-login-customer {
    color: #116A6F;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size:1rem;
}

.add-allergies-login-customer:hover
{
    color:orangered;
}

.selected-allergies-register
{
    border:1px solid lightgray;
    padding:8px;
    width:80%;
    border-radius:10px;
    font-weight:bolder;
    margin-top:0.5rem;
    color:gray;
    display:flex; 
    gap:10px;
} 

.selected-allergies-register span
{
    font-size:1rem;
}

.selected-allergies-register span i 
{
    margin-left:7px;
    cursor:pointer;
    transition:0.3s;
}

.selected-allergies-register span i:hover
{
    color:orangered;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}


.forgot-password-inputs-all
{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:1rem;
    padding-left: 2rem;
}

.reset-password-email
{
    position:relative;
}

.forgot-password-icon
{
    position:absolute;
    top:10px;
    right:20%;
}
@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

    .social-icons a {
        border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 40px;
        height: 40px;
    }

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: white;
    height: 100%;
    background: linear-gradient(to right, #116A6F 60%, #2da0a8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
}

.forgot-password
{
    color:blue;
    font-size:1.1rem;
    transition:0.3s;
    cursor:pointer;
}

.error-message-forgot
{
    color:orangered;
    font-size:1rem;
}

.forgot-password:hover {
    color: orangered;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}


/*Paul*/
.valiation
{
    color:orangered;
    font-size:0.8rem;
    display:none;
    margin: 0 0 0 8px;
}

.show-valiation-register{
    display:block;
}

.input-error {
    border: 1px solid red !important;
}

.control-input {
    width: 100%;
    margin: 0 0 5px 0;
}

.register-asterick
{
    color:orangered;
    margin-left:5px;
    font-size:1.1rem;
}

.allegies-selection-container {
    margin-top: 1.5rem;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

.register-allergies
{
    flex:1;
    margin:0; 
    cursor:pointer;
}

.selected-allergies-div {
    border: 1px solid gray;
    margin: 15px 19px;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    height:150px;
    max-height: 200px;
    overflow:auto;
}

.selected-allergies-div li 
{
    display:flex;
    justify-content:space-between;
    padding-right:50px;
}

.delete-allergy-register:hover
{
    color:orangered;
    cursor:pointer;
}

.register-ok-btn
{
    display:flex;
    justify-content:center;
}


.display-selected-allergies-register 
{
    border:1px solid gray;
    padding:10px;
    list-style:none;
    display:flex;
    gap:15px;
    max-height:80px;
    overflow-y:auto;
    width:80%;
    border-radius:10px;
    flex-wrap:wrap;
} 

.display-selected-allergies-register li i 
{
    margin-left:10px;
}

.display-selected-allergies-register li i:hover
{
    color:orangered;
    cursor:pointer;
}
/* For Chrome, Edge, and Safari */
.display-selected-allergies-register::-webkit-scrollbar {
    width: 8px;
}

.display-selected-allergies-register::-webkit-scrollbar-track {
     
    border-radius: 10px;
}

.display-selected-allergies-register::-webkit-scrollbar-thumb {
    background-color: #116A6F;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.display-selected-allergies-register::-webkit-scrollbar-thumb:hover {
    background-color: #116A6F;
}


.login-input-container
{
    width:100%;
    position:relative;
    margin-top:1rem;
}
.login-input-container > input
{
    padding-left:40px;
}

.password-icon, .email-icon {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.2rem;
}

#password-open-eye-login {
    position: absolute;
    top: 10px;
    right: 20%;
    font-size: 1.2rem;
    cursor:pointer;
}

contaier a {
    color: orangered;
    font-size: 1rem;
    margin-top:5px;
}

.sign-in h1 {
    width: 80%;
    text-align: center;
}

.login-button-container
{
    width:80%;
    text-align:center;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 110vh;
        min-height: unset;
        border-radius: 0;
    }

    .form-container {
        width: 100%;
        height: 50%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in {
        top: 0;
        left: 0;
        z-index: 2;
    }

    .container.active .sign-in {
        transform: translateY(100%);
    }

    .sign-up {
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
    }

    .container.active .sign-up {
        transform: translateY(100%);
        opacity: 1;
        z-index: 5;
        animation: move-vertical 0.6s;
    }

    @keyframes move-vertical {
        0%, 49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%, 100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .toggle-container {
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        border-radius: 0 0 100px 100px;
        transition: all 0.6s ease-in-out;
    }

    .container.active .toggle-container {
        transform: translateY(-100%);
        border-radius: 100px 100px 0 0;
    }

    .toggle {
        flex-direction: row;
        width: 100%;
        height: 200%;
        transform: translateY(0);
        left: 0;
        transition: all 0.6s ease-in-out;
    }

    .container.active .toggle {
        transform: translateY(-50%);
    }


    .toggle-panel {
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
    }

    .toggle-left {
        transform: translateY(-200%);
        height: 150%;
    }

    .container.active .toggle-left {
        transform: translateY(0);
    }

    .toggle-right {
        bottom: 0;
        transform: translateY(0);
        height: 50%;
    }

    .container.active .toggle-right {
        transform: translateY(200%);
    }
}
