.employee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.employee-card {
    width: calc(33.33% - 20px); /* 3 cards per row */
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow .3s ease-out;
    border-radius: 8px;
}
.employee-card:hover{
    box-shadow:unset;
}
/* Add this at the end of the file */


.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
