.ingredient-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 20px;
}

.ingredient-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border:1px solid #90c3d4;
}

.card-header {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.med-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-options {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0 .7em;
    color: white;
    background-color: #116A6F;
    transform: scale(2);
    transition: background-color 0.2s ease, transform 0.2s ease;
    z-index: 1;
}

.card-options:hover {
    background-color: #116a6f42;
/*    transform: scale(2);*/
}

.card-body {
    padding: 10px;
}

.med-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.med-strength {
    font-size: 16px;
    color: #333;
}

.pagination-controls {
    text-align: center;
    margin: 20px 0;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    background: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button.active {
    background: #90c3d4;
    font-weight: bold;
}
.dots-menu {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.med-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.med-info {
    padding: 10px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;
}

