.new-orders-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.search-bar {
    margin-bottom: 15px;
}

.search-bar input {
    width: 250px; /* smaller width */
    padding: 6px 8px; /* less padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
.invalidRow {
    color: orangered !important;
}
.link-no-style {
    text-decoration:underline;
    color: inherit; 
}

.search-button {
    padding: 10px 15px;
    background: #1890ff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-button:hover {
    background: #40a9ff;
}

.orders-table-container {
    overflow-x: auto;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    cursor:default;
}

.orders-table th,
.orders-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.orders-table th {
    background-color: #f5f5f5;
    font-weight: 600;
}

/*.orders-table tr:hover {
    background-color: #f9f9f9;
}
*/
.orders-table input[type="checkbox"] {
    transform: scale(1.3);
    cursor: pointer;
}

.orders-table input[type="number"] {
    width: 80px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.order-actions {
    text-align: right;
    display: flex;
    justify-content: space-between;
}
.order-actions input{
    width: 40%;
    border-radius: 10px;
    border: 1px solid #116A6F;
    padding: .5em 1em;
    outline: none;
}
.lowStockRow {
    background-color: #fff3cd !important; /* light yellow */
}
.submit-button {
    padding: 10px 20px;
    background-color: #116A6F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-out;
    border: 1px solid #116A6F;
}

.submit-button:hover {
    background-color: white;
    color:#116A6F;
}

.submit-button:disabled {
    background-color: #d9d9d9;
    cursor: not-allowed;
}

.checkboxCol {
    width: 40px; /* Keep it narrow */
    text-align: center;
}

.checkboxCol input {
    transform: scale(1.2);
}


.loading {
    text-align: center;
    padding: 40px;
    font-size: 18px;
    color: #666;
}

@media (max-width: 768px) {
    .orders-table th,
    .orders-table td {
        padding: 8px 10px;
        font-size: 14px;
    }
}
