.sub-items a{
    padding:.5em 0;
    color:white;
    text-decoration:none;
}
.sub-items a:hover{
    background-color:white;
    color:#116A6F
}

.sub-item {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  color: #333;
  text-decoration: none;
  text-indent: 3em;
  font-size: medium;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 2em;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid white; 
  transition: transform 0.3s ease;
}

.triangle.large {
  transform: scale(2);
}

