.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.pagination button {
  padding: 6px 12px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.med-card {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #116A6F;
}

.med-info {
  padding: 10px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.med-image {
  height: 150px;
  background-color: #444;
}

.med-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dots-menu {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 25px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  border-radius: 4px;
  width: 100px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  color: #116a6f;
}

.dropdown-menu div {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #f0f0f0;
}

.med-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.med-info {
  padding: 10px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: relative;
}

.med-image {
  height: 150px;
  background-color: #444;
}

.med-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Warning style when quantity is below order level */
.low-stock {
  border: 2px solid red;
}
.filter-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin:1em;
  justify-content:center;
  flex-direction:column;
  align-items: center;
}
.StockPageContainer{
    display:flex;
    flex-direction:row-reverse
}
.right-container {
    flex: 1;
    border: 1px solid #116A6F;
    height: fit-content;
    position: sticky;
    top: 10%;
    padding: 1em;
    margin-top: .5em;
}

.left-contaner {
    flex: 4;
}
.NewMed-btn button {
    padding: 1em 1.5em;
    width: 80%;
    background-color: #116A6F;
    color: white;
    border: 2px solid white;
    cursor:pointer;
    transition:all .2s ease-out;
}
.NewMed-btn button:hover {
    background-color: #41a2a7;
    color:#116A6F;
}
.NewMed-btn {
    display: flex;
    justify-content: center;
}

.filter-bar input,
.filter-bar select {
    padding: 8px;
    font-size: 14px;
    flex: 20%;
    border-radius: 10px;
    border: 1px solid #116A6F;
    outline: none;
    min-width: 15em;
}
.filter-header{
    text-align:center;
    margin:.5em 0;
    font-size:2em;
}
.primary-button {
    background-color: #116A6F;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
/*    margin-left: auto;*/
    width: 15%;
}

.primary-button:hover {
    background-color:#90c3d4;
    color:#116A6F;
}


