.eventLabels {
    width: 10em;
    display: inline-block;
}
.inputContainer{
    display:flex;
    margin-bottom:1em;
}
.inputContainer input{
    margin:unset;
}
.inputContainer textarea{
    max-width:20em;
    min-width:20em;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline:none;
    min-height:15em;
    max-height:15em;
    font-size:medium;
    resize:none;
}
