.report-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff;
}

.report-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-top: solid 2px #116a6f;
    color: #116a6f;
    margin-top:15px;
}

.date-filter, .group-filter {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

    .date-filter input,
    .group-filter select {
        margin-left: 8px;
        margin-right: 8px;
        padding: 5px 8px;
        font-size: 14px;
    }

.patient-header {
    background-color: #f0f5ff;
    padding: 10px;
    border-left: 4px solid #90c3d4;
    margin-bottom: 10px;
    font-size: 16px;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

    .report-table th {
        text-align: left;
        border-bottom: 1px solid #000;
        padding: 6px 4px;
        font-size: 13px;
    }

    .report-table th {
        background-color: #90c3d4;
        color: white;
        padding: 10px;
        text-align: left;
        font-weight: 600;
    }

    .report-table td {
        padding: 6px 4px;
        border-bottom: 1px solid #ccc;
        font-size: 13px;
    }

.subtotal {
    text-align: right;
    font-weight: bold;
    padding-top: 6px;
    font-size: 14px;
}

.print-btn {
    background-color: #d32f2f;
    color: white;
    margin-top: 20px;
}


.grand-total {
    text-align: right;
    margin-top: 30px;
    padding: 15px;
    background-color: #f0f5ff;
    border: 1px solid #2c5aa0;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 5px;
    gap: 10px;
}

.rpt-Footer{
    border-top: 1px solid grey;
    margin-top: 20px;
    justify-content:flex-end;
    display:flex;
}

.pagination button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2c5aa0;
    color: white;
}

        .pagination button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
