.prescription-card {
    max-width: 80em;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #f5fffa;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.processOrdBtn {
    background-color: #2ecc71;
    color:white;
    font-weight:bold;
}

.prescription-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7ec8e3;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    color: #003048;
    font-weight: 600;
}

.disabled-btn {
    opacity: 0.5;
    cursor: not-allowed;
}
.disabled-btn:hover {
    background-color: #ccc;
}


.view-btn {
    background: #005f73;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}

.table-header, .table-row {
    display: grid;
    grid-template-columns: 135px repeat(5, 1fr);
    padding: 0.6rem 0;
    align-items: center;
}

.table-header {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-top: 1rem;
}

.table-row {
    border-bottom: 1px solid #f0f0f0;
}

    .table-row input {
        width: 20px;
        height: 20px;
    }

.totals {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 1rem;
    font-weight: 600;
}

.order-btn {
    width: 100%;
    padding: 0.8rem;
    background: #005f73;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

/* Modal Styles */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.confirm-btn {
    background: #2a9d8f;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    background: #ccc;
    color: #333;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.top-controls {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

    .top-controls select,
    .top-controls input {
        padding: 8px 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

.prescription-section {
    margin-bottom: 30px;
}

.prescription-header.clickable {
    cursor: pointer;
}

    .prescription-header.clickable:hover {
        background: #f1f1f1;
    }
