.table {
    width: 100%;
    border-collapse: collapse;
}

.th,
.td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
.action-column {
    padding: .5em 0.5em 1em 2em;
}
.tbody-row:hover {
    background-color: #f5f5f5;
}

.pagination {
    margin-top: 1rem;
    text-align: center;
}

.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .page-button.active {
        background-color: #90c3d4;
        color: white;
    }
