.nav-style {
    background-color: #90c3d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 8;
    width: 100%;
}
.header-container{
    display:flex;
}

.header-left {
    color: #0e5a5a;
    border-top-right-radius: 1rem;
    padding: 0.2rem 2rem;
    font-weight: 600;
    margin-top: auto;
    font-size: large;
    background:aliceblue;
}

.header-title {
    flex: 1;
    text-align: center;
    color: #0e5a5a;
    font-size: 1.25rem;
    font-weight: 500;
    font-size: x-large;
    font-weight: 700;
    margin:auto;
}

.header-avatar {
    width: 100px;
    height: 75px;
    border-radius: 50%;
    margin-right: 1em;
    background-image: url('../Landing/images/HealthHivePic.png');
    background-repeat: no-repeat;
    background-size: contain;
}

