.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 5px solid rgba(0,0,0,0.08);
    border-top: 5px solid #116A6F;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    animation: spin 0.9s linear infinite;
    will-change: transform;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
