.structured-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #90c3d4;
    font-size: 0.85rem;
    padding: 1.2rem 1rem;
    border-top: 1px solid #ccc;
    color:aliceblue;
    margin-top:0;
}

.footer-item {
    display: inline-block;
}

.footer-separator {
    color: aliceblue;
    font-weight: bold;
}
